<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Error! You have no access to view this page</h1>

<p>User name: <span sec:authentication="name"></span></p>
<p>User roles: <span sec:authentication="principal.authorities"></span></p>

<p>Click <a th:href="@{/home}">here</a> to see a home page.</p>
</body>
</html>